{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housing Animals</title>
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">
    
    {% block 'head' %}{% endblock %}
    <title>{% block 'title' %}{% endblock %} - Abrigo de Animais</title>

  </head>
  <body>
    <header data-bs-theme="dark">
      {% include 'core/navbar.html' %}
    </header>
      {% block 'main_content' %}
      {% endblock %}
      
      <hr class="featurette-divider">
      {% include 'core/footer.html' %}

      <!-- Scripts do Bootstrap e outros -->
      <script 
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous">
      </script>
      <script>window.jQuery || document.write('<script src="{% static 'core/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
      <script src="{% static 'core/js/vendor/popper.min.js' %}"></script>
      <script src="{% static 'core/js/bootstrap.min.js' %}"></script>      
  </body>
</html>