{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz@0,8..60;1,8..60&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

  <link rel="icon" href="{% static 'core/img/logo.png' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'core/img/logo.png' %}" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">


  {% block 'head' %}{% endblock %}

  <title>{% block 'title' %}{% endblock %} - Abrigo de Animais</title>

</head>

<body>
  {% include 'core/navbar.html' %}

  {% block 'principal' %}
  {% endblock %}

  <section class="home-section">
    {% block 'section'%}
    {% endblock %}
  </section>

  {% include 'core/footer.html' %}

  <!-- Bootstrap Bundle JS -->
  <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>