<div class="site-footer">
    <div class="container">
        <div class="row text-center">
            <p>Desenvolvido por • 2023</p>
        </div>
        <ul class="icon">
            <li>
                <a class="github" href="https://github.com/" target="_blank">
                    <i class="devicon-github-original-wordmark"></i>
                </a>
            </li>
            <li>
                <a class="linkedin" href="https://www.linkedin.com/" target="_blank">
                    <i class="devicon-linkedin-plain"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

