{% extends "core/base.html" %}
{% load static %}
{% block 'title' %}
Animais para adoção
{% endblock %}

<link href="{% static 'core/css/base.css' %}" rel="stylesheet">


<div class="content-with-spacing">
{% block 'main_content' %}

<div class="classic-list">
    <h1 class="text-center">Animais adotados</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 card-total">
    {% for adoption in object_list %}
    <div class="col">
        <div class="card h-100 card-all">
            <img width="100%" src="{{ adoption.animal.photo.url }}" class="card-img-top custom-image card-animal" alt="...">
            <a href="" class="btn-enviar text-center card-link">
                Conheça {{ adoption.animal }} e {{ adoption.responsible }}</a>
        </div>
    </div>
    {% empty %}
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h5 class="text-center">Não encontrado.</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>



{% endblock %}