{% extends "core/base.html" %}
{% load static %}
{% block 'title' %}
Animais para adoção
{% endblock %}

{% block 'main_content' %}

<div class="h1-title">
    <h1 class="text-center">Animais adotados</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for adoption in object_list %}
    <div class="col">
        <div class="card h-100 card-all">
            <a href="" class="btn-enviar text-center">
                Conheça {{ adoption.animal }} e {{ adoption.responsible }}</a>
        </div>
    </div>
    {% empty %}
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h5 class="text-center">Não encontrado.</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}