{% extends "core/base.html" %}
{% load static %}
{% block 'title' %}
Animais para adoção
{% endblock %}

{% block 'main_content' %}

<link href="{% static 'core/css/base.css' %}" rel="stylesheet">

<div class="classic-list">
<div class="h1-title ">
    <h1 class="text-center">Animais para adoção</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 card-total-animal">
    {% for animal in object_list %}
    <div class="col">
        <div class="card h-100 card-all card-total">
            <img width="100%" src="{{ animal.photo.url }}" class="card-img-top custom-image card-animal" alt="...">
            <a href="{% url 'shelter:detail_animal' animal.id %}" class="btn-enviar text-center card-link">
                Conheça {{ animal.name }}</a>
        </div>
    </div>
    {% empty %}
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h5 class="text-center">Não encontrado.</h5>
                <h1> Banana</h1>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>



{% endblock %}

